<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Priority 1: Your local folder -->
    <add key="LocalPackages" value="E:\LocalNuGet" />
    <!-- Priority 2: Official NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
